* {
  font-family: "Roboto", "sant-serif";
  font-weight: bold;
  margin: 0;
  padding: 0;
}

$primary: #c3c3c3;

.content {
  margin: 0 1.5em 0 1.5em;

  .title {
    margin: 0.5em 0 0.5em 0;
    letter-spacing: 0.2em;
  }

  .mediaan-container {
    display: inline-flex;

    .order {
      background-color: $primary;
      width: 15em;
      margin-right: 1.3em;
      border: 1px solid black;

      .order-info {
        display: inline-flex;
        background-color: #000;
        color: #fff;

        .tableNr {
          padding: 0.3em;
          border-right: 2px solid white;
        }

        .time {
          padding: 0.3em;
        }
      }

      .meals {
        margin: 0;
        padding: 0;
        list-style-type: none;

        .meal {
          padding: 0.3em;

          .amount {
            float: right;
          }

          &:hover {
            cursor: pointer;
            background-color: darken($primary, 10%);
          }
        }
      }
    }
  }
}

// Extra classes

.meal-done {
  text-decoration: line-through;
}

.status-red {
  padding: 0 0 0 0.3em;
  background-color: rgb(231, 64, 64);
  width: 4.57em;
}

.status-green {
  padding: 0 0 0 0.3em;
  background-color: rgb(53, 231, 82);
  width: 4.57em;
}

.status-yellow {
  padding: 0 0 0 0.3em;
  background-color: rgb(231, 220, 64);
  width: 4.57em;
}
