<div class="footer" id="footer">
    <div class="order" id="order">
        <div class="order-title">YOUR ORDER</div>
        <hr class="order-hr">
        <ul class="order-list">
            <li class="order-item">
                <p class="item">Cola</p>
                <p class="price">€ 1.23</p>
            </li>
            <li class="order-item">
                <p class="item">Fanta</p>
                <p class="price">€ 1.23</p>
            </li>
            <li class="order-item">
                <p class="item">Big Mac</p>
                <p class="price">€ 1.23</p>
            </li>
            <li class="order-item">
                <p class="item">Cheeseburger</p>
                <p class="price">€ 1.23</p>
            </li>
        </ul>
    </div>
    <div class="totals">
        <div class="total-items">5 items</div>
        <div class="total-price">€ 45.80</div>
    </div>
</div>