.container {
  .header {
    width: 100%;
    background-color: #cacaca;
    padding: 1%;

    img {
      margin: auto;
      display: block;
    }
  }

  .content-container{
    margin-top: 8%;
  }
}
