<div style="margin: 20px; padding: 20px; width: 300px; border: 1px solid black;">
  <h1>Menu</h1>

  <br>

  <ul>
    <li *ngFor="let dish of menu">{{dish.toString()}}</li>
  </ul>

  <br>

  <hr>

  <br>

  <h4>Add dish</h4>
  <input type="number" #addDishId style="width: 121px;">
  <button (click)="addDish(addDishId.value)" style="margin-left: 50px; width: 82px;">Add dish</button>

  <br>
  <br>

  <h4>Remove dish</h4>
  <input type="number" #removeDishId style="width: 121px;">
  <button (click)="removeDish(removeDishId.value)" style="margin-left: 50px; width: 82px;">Remove dish</button>

  <br>
  <br>

  <hr>

  <br>

  <div style="display: flex;">
    <h2>Your order</h2>
    <button (click)="sendOrder()" style="margin: auto auto auto 50px; width: 82px;">Send order</button>
  </div>

  <br>

  <ul>
    <li *ngFor="let orderItem of order.getDishes()">{{orderItem.toString()}}</li>
  </ul>

  <router-outlet></router-outlet>
</div>