.container {
  .header {
    width: 100%;
    background-color: #cacaca;
    padding: 1%;
    position: relative;
    display: flex;

    .buttons {
      display: flex;
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;

      .btn-container {
        button {
          height: 100%;
          border: 0;
          font-size: 230%;
          background: #cacaca;
          border-left: 20px solid transparent;
          border-right: 20px solid transparent;
        }
        border-left: 5px solid white;

        button:focus {
          outline: none;
        }

        button:active {
          background: #888888;
        }
      }
    }
  }

  .content-container {
    margin-top: 8%;
  }
}
