<!-- <div *ngFor="let item of items">{{item}}</div>
<div class="">
  {{json}}
</div> -->
<!-- 
<div *ngFor="let user of users$" style="text-align: center;">
  <h2>{{ user.name }}</h2>
  <h2>{{ user.email }}</h2>
</div>
<app-header></app-header> -->
<label for="connect">WebSocket connection:</label>
<button (click)="connect()" class="btn btn-default" type="submit">
  Connect
</button>
<button
  (click)="disconnect()"
  class="btn btn-default"
  type="submit"
>
  Disconnect
</button>
<table id="conversation" class="table table-striped">
  <thead>
  <tr>
      <th>Orders</th>
  </tr>
  </thead>
  <tbody id="orders">
  </tbody>
</table>
<router-outlet></router-outlet>
<!-- <app-order></app-order> -->
<script>

function showOrder(order) {
  $("#orders").append("<tr><td>" + order + "</td></tr>");
}
</script>