<!-- Sidebar -->
<div class="sidebar" id="sidebar">

    <!-- Sidebar title -->
    <h2 class="sidebar-title"><b>MENU</b></h2>

    <ul class="categories">
        <li class="category" (click)="selectCategory('welcome')"><a href="#welcome">Welcome</a></li>
        <li class="category" (click)="selectCategory('drinks')"><a href="#drinks">Drinks</a></li>
        <li class="category" (click)="selectCategory('starters')"><a href="#starters">Starters</a></li>
        <li class="category" (click)="selectCategory('meat')"><a href="#meat">Meat</a></li>
        <li class="category" (click)="selectCategory('fish')"><a href="#fish">Fish</a></li>
        <li class="category" (click)="selectCategory('vegetarian')"><a href="#vegetarian">Vegetarian</a></li>
        <li class="category" (click)="selectCategory('vegan')"><a href="#vegan">Vegan</a></li>
        <li class="category" (click)="selectCategory('kids')"><a href="#kids">Kids</a></li>
        <li class="category" (click)="selectCategory('dessert')"><a href="#dessert">Dessert</a></li>
    </ul>
</div>