<div class="container">
    <div class="card" (click)="toggleOrderMenu()" [hidden]="clicked">
        <img src="{{menuItem.image}}" alt="">
        <p class="name">{{menuItem.name}}</p>
    </div>
    <div class="card clicked" [hidden]="!clicked">
        <div class="left">
            <div class="item"><img src="{{menuItem.image}}" alt=""></div>
            <div class="return-btn" (click)="toggleOrderMenu()"><p>Back</p></div>
        </div>
        <div class="right">
            <p class="top" (click)="min()">-</p>
            <p class="middle">{{amount}}</p>
            <p class="bottom" (click)="plus()">+</p>
        </div>
    </div>
</div>