.menu-bottom {
  .pagination-container {
    text-align: center;
    display: inline-flex;

    .pagination-indicator {
      height: 3vw;
      width: 3vw;
      border: 2px solid var(--main-color);
      border-radius: 200px;
      margin: 2vw;
    }

    .pagination-indicator.active {
      background-color: var(--main-color);
    }
  }

  .menu-control.menu-control-left{
    margin: 2vw;
    visibility: hidden;
    float: left;
  }

  .menu-control.menu-control-right{
    margin: 2vw;
    visibility: hidden;
    float: right;
  }

  .menu-control::before{
    font-size: 3vw;
  }
}
