<div class="menu-bottom">

    <!-- <div class="menu-control menu-control-left"> -->
        <i class="menu-control menu-control-left fa fa-chevron-left" id="menu-control-left"></i>
    <!-- </div> -->


    <div class="pagination-container" id="pagination-container">
        <!-- <div class="pagination-indicator active"></div>
            <div class="pagination-indicator"></div>
            <div class="pagination-indicator"></div> -->
    </div>

    <!-- <div class="menu-control menu-control-right"> -->
        <i class="menu-control menu-control-right fa fa-chevron-right" id="menu-control-right"></i>
    <!-- </div> -->

</div>